*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

/*h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

.container {
	width: 600px;
	height: auto;
	background-color: rgb(175, 178, 182);
	border: 2px solid black ;
	text-align: center;
	border-radius: 8px;
	margin: 20px auto;
	padding: 20px;
}

.title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: rgb(59, 59, 59);
	margin: 10px;
}

.cards {
	background-color: rgb(169, 224, 221);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	margin: 20px;
	border: 2px solid black;
	border-radius: 8px;
	padding: 10px;
}

.cards:hover {
	box-shadow: 0 8px 10px rgba(0, 0, 0, 0.5);
	background-color: rgb(39, 194, 194);
	transform: translateY(-2px);
	transition: 0.3s;
}

.doneBtn {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	border: 2px solid black;
	border-radius: 8px;
	padding: 10px;
}

.done {
	background-color: lightgreen;
	text-decoration: line-through;
}

.newEvent {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	border: 2px solid black;
	border-radius: 8px;
	margin-right: 60px;
	padding: 10px;
}

.butEvent {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	border: 2px solid black;
	border-radius: 8px;
	padding: 10px;
	margin-left: 60px;
}

.butDelete {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	border: 2px solid black;
	border-radius: 8px;
	padding: 10px;
	margin-left: 10px;
}

.butEvent:hover {
	background-color: aqua;
	transform: translateY(-2px);
	transition: 0.3s;
	box-shadow: 0 8px 10px rgba(0, 0, 0, 0.5);
}

.butDelete:hover {
	background-color: lightcoral;
	transform: translateY(-2px);
	transition: 0.3s;
	box-shadow: 0 8px 10px rgba(0, 0, 0, 0.5);
}